{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": [
    "react",
    "prettier"
  ],
  "rules": {
    "no-console": "error",
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true
      }
    ],
    "react/sort-prop-types": "error"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
