{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "prettier", "react-hooks", "import"],
  "rules": {
    "no-console": "error",
    "react/jsx-sort-props": [
      "error",
      {
        "callbacksLast": true
      }
    ],
    "react/jsx-newline": ["error", { "prevent": true }],
    "react/sort-prop-types": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "type",
          ["internal", "parent", "sibling", "index"]
        ],
        "pathGroups": [
          {
            "pattern": "~/*",
            "group": "internal"
          }
        ],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ],
    "sort-imports": ["error", { "ignoreDeclarationSort": true }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
